body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 100px auto;
}

.button-container button{
    display: block;
    margin: 10px auto;
}

.buttons {
    display: none;
}

header .timer {
    float: right;
    background-color: grey;
    margin-right: 60px;
}

header .high-scores {
    margin-left: 20px;
}

.container .row .col-sm-5 .card .card-body .card-title {
    text-align: center;
}

.container .row .col-sm-5 .card .card-body p {
    text-align: center;
}